<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/views/css/styles.css">
    <title><%= name[0].name %> | Add Job </title>
</head>
<body>
    <div class="link">
        <a href="/home/<%= name[0].name %>">Back to Dashboard</a>
   </div>
    <div class="title">
        <h1>Add a Job to <%= name[0].name %></h1>
    </div>
    <div class="add-div">
        <form action="/auth/addjob/<%= name[0].name %>" method = "POST">
            <div class="name-section">
                <input type="text" name = "jobname" placeholder = "Job Name" required>
            </div>
            <div class="description-section">
                <textarea type="text" name = "description" placeholder = "Description"></textarea>
            </div>
            <div class="button">
                <button>Submit</button>
            </div>
        </form>
    </div>
</body>
</html>