<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="views\css\styles.css">
    <title>Computer Management System</title>
</head>
<body>
    <div class="landing-title">
        <h1>Computer Management System</h1>
    </div>
    <div class="links">
        <a href="/login">Login</a>
        <a href="/register">Register</a>
    </div>
</body>
</html>