@import url('https://fonts.googleapis.com/css2?family=Rajdhani&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url("background.jpg");
}

.overlay {
    position: fixed;
    background: black;
    width: 100%;
    height: 100%;
    opacity: .6;
}

.title {
    position: relative;
    font-family: 'Rajdhani', sans-serif;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50vh;
    font-size: 30px;
}