@import url('https://fonts.googleapis.com/css2?family=Rajdhani&display=swap');

* {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

body {
    background: rgb(5, 11, 20);
    font-family: 'Rajdhani', sans-serif;
}

.landing-title {
    position: relative;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 40vh;
    font-size: 30px;
}

.title {
    position: relative;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 25vh;
    font-size: 30px;
}

.links {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.links a {
    margin: 80px;
    text-decoration: none;
    font-size: 25px;
    color: seagreen;
    background: black;
    border-radius: 7px;
    padding: 50px;
    transition: .4s ease;
}
.links a:hover {
    transition: .4s ease;
    transform: scale(1.15);
}

.form-section{
    display: flex;
    flex-direction: column;
    width: 20%;
    height: -10vh;
    align-items: center;
    justify-content: center;
    margin: auto;
    background: rgb(17, 17, 17);
    padding: 40px;
}

.form-section div {
    margin: 15px;
}

.form-section input {
    width: 300px;
    background: black;
    outline: none;
    border: none;
    padding: 10px;
    font-family: 'Rajdhani', sans-serif;
    color: seagreen;
    font-size: 20px;
}

.form-section input::placeholder{
    font-family: 'Rajdhani', sans-serif;
    color: seagreen;
    font-size: 20px;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
}

.button button {
    padding: 15px;
    background: black;
    outline: none;
    border: 1px solid seagreen;
    color: seagreen;
    font-family: 'Rajdhani', sans-serif;
    font-size: 18px;
    border-radius: 7px;
    transition: .4s ease;
    text-transform: uppercase;
}

.button button:hover {
    transition: .4s ease;
    color: white;
    border: 1px solid white;
}

.link-section {
    text-align: center;
    padding-top: 50px;
}

.link-section a {
    text-decoration: none;
    color: seagreen;
    text-transform: uppercase;
    font-size: 20px;
    transition: .3s ease;
}

.link-section a:hover {
    transition: .3s ease;
    color: white;
}

.error {
    background: rgba(196, 54, 54, 0.479);
    color: red;
    width: 15%;
    padding: 10px;
    margin: auto;
}